---
# Working directory where HPL and associated applications will be compiled.
hpl_root: /opt/top500

# Consider adding '-march=native -mtune=native' on Arm/x86.
hpl_opts: "-flto=auto -O3"

mpich_version: "4.3.2"

# Consider adding '-march=native -mtune=native' on Arm/x86.
mpich_env_cflags: "-flto=auto"
mpich_env_cxxflags: "-flto=auto"
mpich_env_fflags: "-flto=auto -fallow-argument-mismatch"
mpich_env_ldflags: "-flto=auto"

# Linear algebra library options.
linear_algebra_library: blis  # 'atlas', 'openblas', or 'blis'
linear_algebra_blis_version: master  # only used for blis
linear_algebra_openblas_version: develop  # only used for openblas

# Consider using `cortexa57` on arm64 systems. See:
# https://github.com/flame/blis/blob/master/docs/ConfigurationHowTo.md
blis_configure_options: ""

# Home directory of the user for whom SSH keys will be configured.
ssh_user: pi
ssh_user_home: /home/pi

# Specify manually if needed for mixed-RAM-capacity clusters.
ram_in_gb: "{{ ( ansible_memtotal_mb / 1024 * 0.75 ) | int | abs }}"

# Count the nodes for accurate HPL.dat calculations.
nodecount: "{{ ansible_play_hosts | length | int }}"

# HPL.dat configuration options.
# See: https://www.advancedclustering.com/act_kb/tune-hpl-dat-file/
# See also: https://hpl-calculator.sourceforge.net/HPL-HowTo.pdf
hpl_dat_opts:
  # sqrt((Memory in GB * 1024 * 1024 * 1024 * Node count) / 8) * 0.9
  Ns: "{{ (((((ram_in_gb | int) * 1024 * 1024 * 1024 * (nodecount | int)) / 8) | root) * 0.90) | int }}"
  NBs: 256
  # (P * Q) should be roughly equivalent to total core count, with Qs higher.
  # If running on a single system, Ps should be 1 and Qs should be core count.
  Ps: 1
  Qs: 4
